.is-green {
    background-color: #44644A
}

.is-white {
    background-color: #FFFFFA
}

.is-purple {
    background-color: #48435C
}

.is-lightgreen {
    background-color: #A8C69F
}

.is-blue {
    background-color: #3F7CAC
}


.is-green-script {
    color: #44644A
}

.is-white-script {
    color: #FFFFFA
}

.is-purple-script {
    color: #48435C
}

.is-lightgreen-script {
    color: #A8C69F
}

.is-blue-script {
    color: #3F7CAC
}

.dropdown.is-fullwidth {
    display: flex;
}

.dropdown.is-fullwidth * {
    width: 100%;
}