<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
    <link th:insert="fragmentTmpl :: stylesheet">
    <link th:insert="fragmentTmpl :: stylesheet2">
    <link th:insert="fragmentTmpl :: icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body class="is-white has-navbar-fixed-right">

<nav th:insert="fragmentTmpl :: navbar"> </nav>
<section th:insert="fragmentTmpl :: hero"></section>

<h1>User verwalten</h1>
<ol>
    <li th:each="user : ${users}">
        <b th:text="${user.name}"></b>
        <div th:switch="${user.role}" >
            <p th:case="0">User</p>
            <p th:case="1">Admin</p>
            <p th:case="2">Moderator</p>
        </div>
        <span th:if="${user.role == 0 || user.role == 2}">
            <form th:action="@{/addAdmin/{id}(id = ${user.id})}" method="post">
                <button type="submit">Promote zum Admin</button>
            </form>
        </span>
        <span th:if="${user.role == 0}">
            <form th:action="@{/addModerator/{id}(id = ${user.id})}" method="post">
                <button type="submit">Promote zum Moderator</button>
            </form>
        </span>
    </li>
</ol>

<a th:href="@{/blog}">zum Blog</a>
</body>
</html>