<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What Matters</title>
    <link th:insert="fragmentTmpl :: stylesheet">
    <link th:insert="fragmentTmpl :: stylesheet2">
    <link th:insert="fragmentTmpl :: icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body class="is-white has-navbar-fixed-right">

<nav th:insert="fragmentTmpl :: navbar"> </nav>
<section th:insert="fragmentTmpl :: hero"></section>

<div class="box">
    <h1 class="title is-1 is-centered">What matters</h1>
</div>
<div>
    <form action="/blog" method="post" th:object="${entryCategoryDTO}">
            <select th:field="*{entryCategory}">
                <option class="dropdown" value="" th:text="Alle_Kategorien" th:value="Kategorie"></option>
                <option th:each="i : ${entryCategories}" th:value="${i.categoryName}"
                        th:text="${i.categoryName}">
                </option>
            </select>
        <button class="button" type="submit">Kategorie auswählen</button>
    </form>
</div>
<ol th:if="${entries != null}" th:each="category : ${entryCategories}">
    <div class="box">
        <h1 class="title is-3 is-centered" th:text="${category.getCategoryName()}"></h1>
    </div>
    <li th:if="${entry.getEntryCategories().contains(category)}" th:each="entry : ${entries}">
        <section class="section">
            <div class="container is-lightgreen">
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <b class="" th:text="${entry.title}"></b>
                            <span th:if="${sessionUser != null and (sessionUser.role == 1 or sessionUser.role == 2)}">
                                <a class="button" th:href="@{/manageEntry/{id}(id = ${entry.id})}">Beitrag editieren</a>
                            </span>
                            <p th:text="${entry.text}"></p>
                            <p class="is-italic">Beitrag erstellt von &nbsp;<span th:text="${entry.user.name}"></span></p>
                            <u><h3 class="is-underlined">Kommentare</h3></u>
                            <ol th:if="${entry.getComments() != null}">
                                <li th:each="comment : ${entry.getComments()}">
                                    <p th:text="${comment.text}"></p>
                                    <p class="is-italic">Kommentar von &nbsp;<span th:text="${comment.user.name}"></span></p>
                                </li>
                            </ol>
                            <span th:if="${sessionUser != null}">
                        <a class="button" th:href="@{/comment/{id}(id = ${entry.id})}">Kommentar schreiben</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </li>
</ol>

<section class="section">
    <div class="container is-lightgreen">
        <div class="columns">
            <div class="column">
                <div class="box">

                    <div th:if="${sessionUser == null}">
                        <form th:action="@{/login}" method="post" th:object="${loginDTO}">
                            <input type="text" placeholder="Benutzername" th:field="*{name}">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            <input type="password" placeholder="Passwort" th:field="*{password}">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            <button class="button is-green is-white-script" type="submit">Login</button>
                        </form>
                        <div>
                            <a class="button" th:href="@{/registration}">Registrieren</a>
                        </div>
                    </div>
                    <div th:if="${sessionUser != null}" th:object="${sessionUser}">
                        <p th:text="*{name}"></p>

                        <form th:action="@{/logout}" method="post">
                            <button class="button is-purple is-white-script">Logout</button>
                        </form>
                        <div>
                            <a class="button" href="/manageComments">Kommentare löschen</a>
                        </div>
                        <div th:if="*{role == 1}">
                            <div>
                                <a class="button" href="/admin">User verwalten</a>
                            </div>
                            <div>
                                <a class="button" th:href="@{/entry}">Beitrag schreiben</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>