<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
    <link th:insert="fragmentTmpl :: stylesheet">
    <link th:insert="fragmentTmpl :: stylesheet2">
    <link th:insert="fragmentTmpl :: icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body class="is-white has-navbar-fixed-right">

<nav th:insert="fragmentTmpl :: navbar"> </nav>
<section th:insert="fragmentTmpl :: hero"></section>

<h1>Beitrag kommentieren</h1>
<div th:object="${entry}">
    <h3 th:text="*{title}"></h3>
    <p th:text="*{text}"></p>
    <ol th:if="${entry.getComments() != null}">
        <li th:each="comment : ${entry.getComments()}">
            <p th:text="${comment.text}"></p>
        </li>
    </ol>
</div>
<div th:if="${sessionUser != null}">
    <form th:action="@{/addComment/{id}(id = ${entry.id})}" method="post" th:object="${commentDTO}">
        <input type="text" placeholder="Kommentar" th:field="*{text}">
        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
        <button type="submit">kommentieren</button>
    </form>
</div>
<a th:href="@{/blog}">zum Blog</a>
</body>
</html>
