<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
    <link th:insert="fragmentTmpl :: stylesheet">
    <link th:insert="fragmentTmpl :: stylesheet2">
    <link th:insert="fragmentTmpl :: icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body class="is-white has-navbar-fixed-right">

<nav th:insert="fragmentTmpl :: navbar"> </nav>
<section th:insert="fragmentTmpl :: hero"></section>

<h1>Beitrag ändern</h1>

<div th:if="${sessionUser != null and sessionUser.role == 1}">
    <form th:action="@{/editEntrySuccess/{id}(id = ${entry.id})}" method="post" th:object="${entry}">
        <input type="text" th:value="*{title}" th:field="*{title}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <input type="text" th:value="*{text}" th:field="*{text}">
        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
        <button type="submit">Beitrag ändern</button>
    </form>
    <form th:action="@{/deleteEntry/{id}(id = ${entry.id})}" method="post">
        <button type="submit">Beitrag löschen</button>
    </form>
</div>
<a th:href="@{/blog}">zum Blog</a>
</body>
</html>
