<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What Matters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link th:insert="fragmentTmpl :: stylesheet">
    <link th:insert="fragmentTmpl :: stylesheet2">
    <link th:insert="fragmentTmpl :: icon">

</head>
<body class="is-white has-navbar-fixed-right">

<nav th:insert="fragmentTmpl :: navbar"> </nav>
<section th:insert="fragmentTmpl :: hero"></section>
<div class="box">
    <h1 class="title">Beitrag schreiben</h1>
</div>
<div th:if="${sessionUser != null and sessionUser.role == 1}">
    <form th:action="@{/addEntry}" method="post" th:object="${entryDTO}">
        <section class="section">
            <div class="container is-lightgreen">
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <input class="textarea is-small" type="text" placeholder="Überschrift" th:field="*{title}">
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

                            <input class="textarea is-large" type="text" placeholder="Beitrag" th:field="*{text}">
                            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>

                            <select th:field="*{entryCategory[0]}">
                                <option class="dropdown" value="" th:text="Kategorie"></option>
                                <option th:each="i : ${entryCategories}" th:value="${i.categoryName}"
                                        th:text="${i.categoryName}">
                                </option>
                            </select>
                            <select th:field="*{entryCategory[1]}">
                                <option class="dropdown" value="" th:text="Kategorie"></option>
                                <option th:each="i : ${entryCategories}" th:value="${i.categoryName}"
                                        th:text="${i.categoryName}">
                                </option>
                            </select>
                            <select th:field="*{entryCategory[2]}">
                                <option class="dropdown" value="" th:text="Kategorie"></option>
                                <option th:each="i : ${entryCategories}" th:value="${i.categoryName}"
                                        th:text="${i.categoryName}">
                                </option>
                            </select>
                            <a href="fileupload">File-upload</a>

                            <button class="button" type="submit">Beitrag erstellen</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<a class="button" th:href="@{/blog}">zum Blog</a>
</body>
</html>

