<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What Matters</title>
    <link th:fragment="stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link th:fragment="stylesheet2" rel="stylesheet" href="stylesheet.css">
    <link th:fragment="icon" rel="icon" type="image/png" href="logo_transparent.png">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>


<section th:fragment="hero" class="hero is-green">
    <div class="hero-body">
        <div class="container">
        </div>
    </div>
</section>


<nav th:fragment="navbar" class="navbar is-fixed-top is-lightgreen is-white-script" role="navigation"
     aria-label="dropdown navigation">


    <div class="navbar-start">

        <a class="navbar-item" href="/blog">
            <img class="image is-32x32" src="logo_transparent.png" alt="logo">
        </a>

        <a class="navbar-item is-white-script is-lightgreen is-size-5" href="/admin"
           th:if="${(sessionUser != null) and (sessionUser.role == 1)}">
            User verwalten
        </a>

        <a class="navbar-item is-white-script is-lightgreen is-size-5" href="/manageComments" th:if="${(sessionUser != null)}">Kommentare
            löschen</a>


        <a class="navbar-item is-white-script is-lightgreen is-size-5" th:href="@{/entry}"
           th:if="${(sessionUser != null) and (sessionUser.role == 1)}">Beitrag schreiben</a>

    </div>

    <div class="navbar-end">

            <a class="navbar-item is-white-script is-lightgreen is-size-5" th:href="@{/registration}" th:if="${sessionUser == null}">
                Register
            </a>

        <div class="navbar-item" th:if="${(sessionUser != null)}">
            <form th:action="@{/logout}" method="post">
                <button class="button is-purple is-white-script">Logout</button>
            </form>
        </div>


        <div class="navbar-item has-dropdown is-lightgreen is-hoverable" th:if="${(sessionUser == null)}">
            <a class="navbar-link is-lightgreen is-size-5 is-white-script is-arrowless">
                Login
            </a>
            <div class="navbar-dropdown is-right is-fullwidth">
                <form class="field" th:action="@{/login}" method="post" th:object="${loginDTO}">

                    <a class="navbar-item">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Benutzername"
                                   th:field="*{name}">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                        </div>
                    </a>
                    <div class="navbar-item">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" placeholder="Passwort"
                                   th:field="*{password}">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-green is-white-script" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</nav>


</body>
</html>