<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
</head>
<body>
<h1>Kommentare löschen</h1>
<ol th:if="${sessionUser != null and comments != null}">
    <li th:each="comment : ${comments}">
        <p th:text="${comment.text}">
        <form th:action="@{/deleteComment/{id}(id = ${comment.id})}" method="post">
        <button type="submit">löschen</button></form>
        </p>
    </li>
</ol>


<a th:href="@{/blog}">zum Blog</a>
</body>
</html>