<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
</head>
<body>
<h1>Beitrag bearbeiten</h1>
<div th:if="${sessionUser != null and (sessionUser.role == 1 or sessionUser.role == 2)}" th:object="${entry}">
    <h3 th:text="*{title}"></h3>
    <p th:text="*{text}"></p>
    <div th:if="${sessionUser.role == 1}">
        <form th:action="@{/editEntry/{id}/(id = ${entry.id})}" method="post">
            <button type="submit">ändern</button>
        </form>
    </div>
    <ol th:if="${entry.getComments() != null}">
        <li th:each="comment : ${entry.getComments()}">
            <p th:text="${comment.text}"></p>
            <form th:action="@{/deleteCommentAdmin/{id}/{entryId}/(id = ${comment.id}, entryId = ${entry.id})}" method="post">
                <button type="submit">löschen</button>
            </form>
        </li>
    </ol>
</div>
<a th:href="@{/blog}">zum Blog</a>
</body>
</html>