<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
</head>
<body>
<h1>Registrierung erfolgreich!</h1>
<p>Sie wurden erfolgreich registriert</p>
<a th:href="@{/blog}">zum Blog</a>
</body>
</html>