<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What matters</title>
</head>
<body>
<h1>Registrieren</h1>
<form th:action="@{/registration}" th:object="${registrationDTO}" method="post">
    <div>
    Username: <input type="text" th:field="*{name}"><br/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
    Passwort: <input type="password" th:field="*{password1}"><br/>
    <p th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></p>
    </div>
    <div>
    Passwort nochmal: <input type="password" th:field="*{password2}"><br/>
    <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>
    </div>
    <button type="submit">Registrieren</button>
</form>
<a class="button" th:href="@{/blog}">zum Blog</a>
</body>
</html>
